<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список автомобилей</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<h1>Автомобили</h1>

<table>
    <thead>
    <tr>
        <th>Марка</th>
        <th>Модель</th>
        <th>Год</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.year}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
